h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }

  div {
    /* border: 1px solid #ccc; */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
  }

  .title{
    font-weight: bold;
  }
  
  div a {
    color: #007bff;
    text-decoration: none;
  }
  
  div a:hover {
    text-decoration: underline;
  }

  div p {
    color: #888;
    font-style: italic;
    margin-top: 8px;
  }
  
  
