.flashCardDiv {
    font-family: papyrus;
    background-color: rgb(71, 126, 208);
    border: 2px solid #000000;
    background: repeating-linear-gradient(#FFFBD6, #FFFBD6 35px, rgb(206, 206, 206) 35px, rgb(206, 206, 206) 36px);
    border-radius: 15px;
    min-width: 250px;
    min-height: 250px;
    margin: 50px;
    max-width: 250px;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 
    10px 10px 0px 3px #FFFBD6,
    11px 11px 0px 3px #000000,
    20px 20px 0px 3px #FFFBD6,
    21px 21px 0px 3px #000000,
    30px 30px 0px 3px #FFFBD6,
    31px 31px 0px 3px #000000,
    34px 34px 5px 3px #000000
    ;
}

.flashCardDiv p{
    color: #000000;
    font-size: 40px;
}

.flashCardDiv:hover {
    transform: scale(1.2);
    translate: 1%;
  }
