.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePageDiv {
    width: 30vw;
    height: 30vh;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


