
.notepadBand {
    height: 10%;
    margin:0;
    padding:0;
    background-color: rgb(29, 29, 29);
    box-shadow: 10px 10px 40px rgba(black, .15);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }

.stackDiv {
    font-family: papyrus;
    color: #000000;
    background-color: rgb(66, 165, 207);
    border: 2px solid #000000;
    width: 300px;
    height: auto;
    margin: 50px;
    padding: 35px 20px;
    background: repeating-linear-gradient(#FFFBD6, #FFFBD6 35px, rgb(206, 206, 206) 35px, rgb(206, 206, 206) 36px);
    line-height: 32px;
    outline: 0;
    font-size: 22px;
    box-shadow: 
    10px 10px 0px 3px #FFFBD6,
    11px 11px 0px 3px #000000,
    20px 20px 0px 3px #FFFBD6,
    21px 21px 0px 3px #000000,
    30px 30px 0px 3px #FFFBD6,
    31px 31px 0px 3px #000000,
    34px 34px 5px 3px #000000
    
    ;
}

.topic{
    font-weight: 900;
    font-size: 2em;
}

button {
    margin: 10px;
    border: 2px solid rgb(226, 226, 226);
    background-color: transparent;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
    padding: 4% 2%;
    box-shadow: inset 0 0 0 0 rgb(226, 226, 226);
    transition: all 0.5s ease-in-out
    }

button:hover{
    box-shadow: inset 300px 0 0 0 rgb(226, 226, 226);
    border: none;
    cursor: pointer;
    transform: scale(1.2)
}
.reviseButton{
    font-size: 1.5em;
}
.addRemove{
    font-size: 0.75em;
}
