.stackDiv {
    background-color: rgb(187, 187, 187);
    border-color: black;
    border-radius: 1px;
    border-style: double;
    width: 300px;
    height: 300px;
    margin: 50px;
}

button {
    margin: 10px;
}
